.collection-container {
  margin-top: 10px;
  width: 100%;
}

.collection-title {
  font-weight: bold;
  font-size: 2em;
}

.collection-albums-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-rows: 0;
  overflow-y: hidden;
  grid-gap: 0 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr)); /* change auto-fill to auto-fit if you don't want albums to fill the screen with no space after */
}

.collection-album {
  background-color: var(--c1);
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  padding: 16px;
}

.collection-album-cover {
  width: 100%;
  object-fit: contain;
}

.collection-album-title {
  font-size: 1.2em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 10px;
}

.collection-album-artist {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
