/*
  SEARCH
*/

.search-bar-container {
  display: flex;
  height: 40px;
}

.search-bar {
  padding: 0px 10px 0px 10px;
  border-radius: 5px 0px 0px 5px;
  border-style: none;
  font-size: 1.0em;
  border: solid 1px var(--color-grey);
  border-right: solid 1px var(--color-black);
}

.search-button {
  display: flex;
  border-radius: 0px 5px 5px 0px;
  background-color: var(--color-primary);
  cursor: pointer;
  padding: 0px 10px 0px 10px;
  font-size: 1.6rem;
  align-items: center;
}

/*
  FILE UPLOAD
*/

.fileupload-container {
  display: inline-block;
  height: 40px;
}

.fileupload-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.fileupload-button {
  height: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  padding: 0px 10px 0px 10px;
  background-color: var(--color-primary);
}

.fileupload-infobox {
  display: flex;
  flex-direction: row;
  gap: 8px;
  border-radius: 0px 5px 5px 0px;
  align-items: center;
  height: 100%;
  padding: 0px 10px 0px 10px;
  background-color: var(--color-white);
  color: var(--color-black);
  border: solid 1px var(--color-grey);
  border-left: solid 1px var(--color-black);
}

.fileupload-filename {
  display: flex;
  flex-shrink: 1;
  min-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fileupload-filesize {
  display: flex;
  flex-shrink: 0;
}

.fileupload-error {
  color: var(--color-text-error);
}

/*
  SUBMIT BUTTON
*/

.button-container {
  display: flex;
}

.submit-button {
  display: inline-block;
  height: 40px;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  margin: 0;
  border: solid 1px var(--color-grey);
  cursor: pointer;
}

.create-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.image-form {}
