/* DARK THEME */
:root {
  /* COLORS */
  --color-black: #000000;
  --color-grey: #d9d9d9;
  --color-white: #ffffff;

  /* BACKGROUND COLORS */
  --color-background-primary: #220E24; /* ancienne couleur 180a1a */
  --color-background-secondary: #2c122f; /* ancienne couleur 220E24 avait 0 contrast */
  --color-background-accent: #42286c; /* ancienne couleur 342056 */

  /* MAIN COLORS */
  --color-primary: #5454C5;
  --color-secondary: #bf395b;

  /* TEXT COLORS */
  --color-text-primary: #ffffff;
  --color-text-secondary: #bf395b;
  --color-text-error: #ff0000;
}

/* LIGHT THEME (lmao) */
/* :root { */
/*   /\* COLORS *\/ */
/*   --color-black: #000000; */
/*   --color-grey: #d9d9d9; */
/*   --color-white: #ffffff; */

/*   /\* BACKGROUND COLORS *\/ */
/*   --color-background-primary: #e7f5e5; */
/*   --color-background-secondary: #cbdfa9; */
/*   --color-background-accent: #bcd298; */

/*   /\* MAIN COLORS *\/ */
/*   --color-primary: #ccb852; */
/*   --color-secondary: #cc7352; */

/*   /\* TEXT COLORS *\/ */
/*   --color-text-primary: #000000; */
/*   --color-text-secondary: #cc7352; */
/*   --color-text-error: #ff0000; */
/* } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App, body, html, #root {
  height: 100%;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.content {
  display: flex;
  width: 100%;
}

textarea:focus, input:focus, button:focus, div:focus, a:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-title {
  font-weight: bold;
  font-size: 2em;
}
