.ml-header {
  display: grid;
  padding: 16px 16px 6px 16px;
  grid-gap: 16px;
  grid-template-columns: [index] 16px [first] 4fr [last] minmax(120px, 1fr);
  align-items: center;
  border-bottom: solid;
  border-width: 1px;
  font-weight: bold;
}

.ml-header-duration {
  justify-self: right;
}

.music-container {
  display: grid;
  grid-template-columns: 5fr 1em;
  padding: 10px 16px;
  grid-gap: 16px;
  align-items: center;
}

.own-music-container {
  display: grid;
  grid-template-columns: 5fr 1em 1em;
  padding: 10px 16px;
  grid-gap: 16px;
  align-items: center;
}

.music-container:hover {
  background: var(--color-background-secondary);
  cursor: pointer;
}

.music-grid {
  display: grid;
  grid-template-columns: [index] 8px [first] 4rem [last] 1fr 1rem;
  padding: 10px 16px;
  grid-gap: 16px;
  align-items: center;
}

.music-num {
  justify-self: center;
  color: var(--color-text-secondary);
}

.music-title {
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
}

.music-info-box {
  justify-self: left;
}

.music-artist {
  font-size: 0.8em;
  color: var(--color-text-secondary);
}

.image {
  justify-self: left;
}

.music-duration {
  color: var(--color-text-secondary);
}

.music-favorite {
  color: var(--color-text-secondary);
}

.music-favorite:hover {
  background: var(--color-background-secondary);
  cursor: pointer;
}

.trash {
  color: var(--color-text-secondary);
}

.trash:hover {
  background: var(--color-background-secondary);
  cursor: pointer;
}

.wrapper {
  display: contents;
  cursor: pointer;
}
