:root {
  --search-height: 40px;
}

.search-bar-container {
  display: flex;
  height: var(--search-height);
}

.search-bar {
  padding: 0px 10px 0px 10px;
  border-radius: 10px 0px 0px 10px;
  border-style: none;
  font-size: 1.0em;
  border-right: solid 3px var(--c1);
}

.search-bar:hover {}

.search-button {
  border-radius: 0px 10px 10px 0px;
  background-color: var(--c2);
  cursor: pointer;
  padding: 0px 10px 0px 10px;
  font-size: 26px;
}

.search-button:hover {
  background-color: var(--c3);
}
